<div class="col-lg-6 d-flex flex-column justify-content-center mx-auto">
  <div class="cta">
    <h3 class="title-heading py-5 text-center">ゴミの収集日と天気予報を<br>
      LINEでお知らせします
    </h3>
    <img src="/image/fukidashi_1.png" class="img-fukidashi rounded mx-auto d-block">
    <img src="/image/gomiten_qr.png" class="img-qr rounded mx-auto d-block">
  </div>
</div>
<div class="container-fruid py-5 mb-3 mw-md mx-auto">
  <section>
    <div class="row introduce">
      <div class="col-md-6">
        <h3 class="introduce-heading">ゴミの収集日</h3>
        <p><span>※現在、名古屋市の準備中</span><br>
          夜21時に翌日の<br>
          ゴミの収集日をお知らせ
        </p>
      </div>
      <div class="col-md-6">
        <img src="/image/throw_away.png" class="img-fluid">
      </div>
    </div>
  </section>
  <section>
    <div class="row introduce">
      <div class="col-md-6 order-md-2">
        <h3 class="introduce-heading">天気予報</h3>
        <p>朝7時に当日の<br>
        天気予報をお知らせ
        </p>
      </div>
      <div class="col-md-6 order-md-1">
        <img src="/image/weather_notification.png" class="img-fluid">
      </div>
  </section>
  <section>
    <div class="row introduce">
      <div class="col-md-6">
        <h3 class="introduce-heading">登録の仕方</h3>
        <p>
          ①QRコードを読み込み友達を追加<br>
          ②位置情報を送信<br>
          ③「スタート」で通知を開始し、<br>
          「ストップ」で通知を停止します
        </p>
      </div>
      <div class="col-md-6">
        <img src="/image/my_location.png" class="img-fluid">
      </div>
    </div>
  </section>
</div>
<section id="feature" class="pricing section-bg">
  <div class="container container-m">
    <div class="section-title">
      <div class="img-container">
        <img class="mr-3 mb-3" src="/image/nice_icon.png" class="img-nice rounded d-block">
        <p class="title">gomiten 3つの特徴</p>
      </div>
    </div>  
    <div class="card-deck">
      <div class="card bg-light mb-3">
        <div class="card-body  mx-auto">
          <h5 class="card-title">リッチメニュー対応</h5>
          <p class="card-text">文字を入力せず操作できます</p>
        </div>
        <img class="card-img-top" src="/image/richmenu.png" alt="Card image cap">
      </div>
      <div class="card bg-light mb-3">
        <div class="card-body mx-auto">
          <h5 class="card-title">雨の日はスタンプを送信</h5>
          <p class="card-text">ひと目で傘が必要とわかります</p>
        </div>
        <img class="card-img-top" src="/image/rainstamp.png" alt="Card image cap">
      </div>
      <div class="card bg-light mb-3">
        <div class="card-body mx-auto">
          <h5 class="card-title">2日後の天気までわかる</h5>
          <p class="card-text">予定が立てやすくなります</p>
        </div>
        <img class="card-img-top" src="/image/tomorrow.png" alt="Card image cap">
      </div>
    </div>
  </div>
</section>

<div class="col-lg-6 d-flex flex-column justify-content-center mx-auto">
  <div class="cta">
    <img src="/image/fukidashi_2.png" class="img-fukidashi rounded mx-auto d-block">
    <img src="/image/gomiten_qr.png" class="img-qr rounded mx-auto d-block">
    
  </div>
</div>
